:root {
    --primary-color: #57a557;
    --box-color: #f4f1e8;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    /*border-bottom:1px solid var(--primary-color); */
    padding: 0 20px;
}

footer {
    max-height: 200px;
    min-height: 100px;
    bottom: 0;
    width: 100%;
    /*display: flex;*/
    background-color: white;
    color: var(--primary-color);
    padding: 20px;
    padding-left: 10px;
    margin-top: 1px solid;
    /*background-color: rgb(87, 165, 87, 0.2); */
    /*border-top: 1px solid;*/

}
footer p{
    font-size: 15px;
    margin-top: 4px;
    padding: 0 12px;        /*flugte med ikon*/
}


body {
    background-color: white;
}

.button {
    border: none;
    transition: all 0.2s ease;
    padding: 10px 18px;
    border-radius: 10px;
    background-color: var(--primary-color);
}

.button:hover {
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.button:active {
    background-color: var(--primary-color);
}

.logo {
    width: 40px;
    height: 40px;
    border-radius: 12px;
    overflow: hidden;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

nav {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
}

nav a {
    border-radius: 20px;
    text-decoration: none;
    display: block;
    padding: 10px 10px;
    margin: 1px;
    align-items: center;
    color: var(--primary-color);
    font-weight: 300;
}

nav a:hover {
    font-weight: bolder;
    cursor: pointer;
    text-decoration: none;
    /*box-shadow: 0 2px 10px #57a557; */
}
nav a.active{
    font-weight: bolder;
}

.div {
    max-width: 300px;
    padding: 10px;
    display: flex;
    width: fit-content;
    height: fit-content;

    background-color: rgb(124, 57, 253);
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);

    overflow: auto;
    word-break: normal;
}



/* Prøv og leg med de forskellige farver og se hvad der ser godt ud.
Jeg har bare taget noget der ser neutralt ud, men det er også kedeligt at kigge på.
 */