:root {
    --primary-color: #57a557;
    --box-color: #f4f1e8;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 0 20px;
}

footer {
    min-height: 100px;
    width: 100%;
    display: block;
    background-color: white;
    color: var(--primary-color);
    padding: 20px;
}

footer p{
    font-size: 15px;
    margin-top: 8px;
}

footer a{
    font-weight: bolder !important;
    font-size: 18px;
    text-decoration: none;
    color: inherit;
}

body {
    background-color: white;
}

.button {
    border: none;
    transition: all 0.2s ease;
    padding: 10px 18px;
    border-radius: 10px;
    background-color: var(--primary-color);
}

.button_lowprio {
    border: none;
    transition: all 0.2s ease;
    padding: 10px 18px;
    border-radius: 10px;
    background-color: rgba(89, 89, 89, 0.15);
}

.button:hover, .button_lowprio:hover {
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.button:active {
    background-color: var(--primary-color);
}

.logo {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    overflow: hidden;
    border: red solid 2px;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

nav {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
}

nav a{
    text-decoration: none;
    display: block;
    font-size: 18px;
    padding: 10px 10px;
    margin: 1px;
    color: var(--primary-color);
}

nav a:hover {
    font-weight: bolder;
    cursor: pointer;
    text-decoration: none;
}

nav a.active{
    font-weight: bolder;
}